

#header {
/*position: relative;*/
width:100%;
text-align:center;
background-color:#ffffff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

h1{
font-size:50px;color:#ffffff;
font-family:ＭＳ Ｐ明朝;
}


#container {
position: relative;
width:100%;
text-align:center;
background-color:#ffffff;
}


strong{
color:glay;font-size:50px;
font-family:ＭＳ Ｐ明朝;

}

dt em{
color:blue;font-size:30px;
}
dt{
color:glay;font-size:20px;
}



