/*
#header {
width:100%;
background-color:#fff;
white-space:nowrap;
color:Lavender;
}

#footer {
position: relative;
width:100%;
text-align:center;
background-color:#ffffff;
}


#container {
position: relative;
width:100%;
text-align:center;
background-color:#ffffff;
}


strong{
color:glay;font-size:50px;
font-family:ＭＳ Ｐ明朝;

}
*/

dt{
color:black; /*SlateGray*/
font-size:30px;
}
dt2{
color:black; /*SlateGray*/
font-size:25px;
}
dt3{
color:#708090; /*SlateGray*/
font-size:20px;
}
dt4{
font-size:15px;
}


dt.align_center{
   text-align:center;
}