.box1 {
    padding: 0.5em 1em;
    margin: 1em 0.2em;
    color: #2c2c2f;
    background: #F0FFF0;
}

#header {
position: relative;
width:100%;
text-align:center;
background-color:#ffffff;
}

#container {
position: relative;
width:100%;
text-align:center;
background-color:#ffffff;
}


#header h1{
color:#000000;
}


strong{
color:glay;font-size:30px;
}

h1{
font-size:30px;color:#000000;
}
dt em{
color:blue;font-size:30px;
}
dt{
color:glay;font-size:20px;
}



