h2{
text-align:center;
}

p.main{
color:black;
font-size:20px;
}
p.info{
color:#708090; /*SlateGray*/
font-size:20px;
}

dt{
color:black;
font-size:30px;
}

dt2{
color:black;
font-size:25px;
}
dt2.block{
display:block;
color:black;
font-size:25px;
}
dt2.inline{
display:inline;
color:black;
font-size:25px;
}
dt2.inline-block{
display:inline-block;
color:black;
font-size:25px;
}
dt3{
color:black;
font-size:20px;
}
dt3.info{
color:#708090; /*SlateGray*/
font-size:20px;
}
dt3.new{
padding:0 2;
color:white;
background-color:#66CDAA; /*MediumAquamarine*/
}
dt3.more{
color:#708090; /*SlateGray*/
}

dt4{
color:#708090;
font-size:15px;
}