.box1 {
    padding: 0.5em 1em;
    margin: 1em 0.2em;
    color: #2c2c2f;
    background: #F0FFF0;
}

#header {
padding:20px;
background-color:#C0C0C0;
background-image:url(./img/freelancetop.JPG);
text-align:center;
}






#container {
position: relative;
width:1400px;
text-align:left;
background-color:#ffffff;
}


#header h1{
color:#F0FFF0;
}


strong{
color:glay;font-size:30px;
}

h1{
font-size:30px;color:#0000FF
}
dt em{
color:blue;font-size:30px;
}
dt{
color:glay;font-size:20px;
}



