dt{
color:black;
}

dt2{
color:black;
}

dt3{
color:#708090; /*SlateGray*/
}
dt3.new{
padding:0 2;
color:white;
background-color:#66CDAA; /*MediumAquamarine*/
}
dt3.more{
color:#708090; /*SlateGray*/
}

dt4{
color:#708090;
}