/*** Header ************
 ***/

/* normal */
.rdeco_normal_header {
	background-repeat:no-repeat;
	background-color:red;
}

/* solid */
.rdeco_solid_header {
    position:fixed;
	background-color:red;
}

/*** Banner ************
 ***/

/*** Menu ***
 ***/
/* normal */
.rdeco_normal_menu {
    padding : 10px 10px;
	background-repeat:no-repeat;
	background-color:blue;
}

/* solid */
.rdeco_solid_menu {
/*    padding : 10px 10px;*/
/*	background-repeat:no-repeat;*/
    position:fixed;
    text-align:center;
	background-color:blue;
}

/*** Body ***
 ***/
div.rdeco_normal_body {
	background-repeat:no-repeat;
	background-color:red;
}

/*** Footer ***
 ***/

/*** Like Tool ***
 ***/
.align_center{
   text-align:center;
}
