/*** Header ************
 ***/

/* normal */
.rdeco_normal_header {
    text-align:center;
    vertical-align:baseline;
	background-repeat:no-repeat;
	background-color:white;
	padding:5px;
}

/* solid */
.rdeco_solid_header {
    position:fixed;
	background-color:white;
}


/*** Menu **************
 ***/
/* normal */
.rdeco_normal_menu {
    white-space:nowrap;
	background-repeat:no-repeat;
	background-color:White;
	padding:5px;
}

/* solid */
.rdeco_solid_menu {
    position:fixed;
    text-align:center;
	background-color:White;
}

/*** Body ***
 ***/
div.rdeco_normal_body {
    padding:10px;
	background-repeat:no-repeat;
	background-color:White;
}

/*** Banner ************
 ***/
div.rdeco_normal_banner {
    padding:10px;
	background-repeat:no-repeat;
	background-color:White;
}

/*** Footer ************
 ***/

/*** Like Tool *********
 ***/
/* センタリング */
.align_center{
   text-align:center;
}

/* 位置調整 */
.align_top{
   vertical-align:top;
}

/* 位置調整 */
.align_bottom{
   vertical-align:bottom;
}

/* レスポンシブ画像 */
p.resizeimage img{
    height: auto;
}

/* メニューリスト */
rdeco ul li a{
    text-align:center;
}
/* メニューリスト：オーバー */
rdeco ul li:hover a{
    text-align:center;
}
